/* index.css */
:root {
    --primary: #7B1FA2;
    --white: #fff;
    --chatItemBackground: #f0f0f0;
    --replyBackground: #d1c4e9;
    --button: #d1c4e9;
    --iconColor:  grey;
    --iconHoverColor: #000;
    --darkPurple: #5a0f73;
}
